<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Master</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <style>
    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .main-section {
      animation: fadeIn 0.3s ease-in-out;
      background: url('static/quiz_background.jpg');
      background-size: cover;
      min-height: 100vh;
      background-position: center;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand ms-4" href="{{url_for('main.index')}}">
        <img src="{{ url_for('static', filename='images/logo-rmbg.png') }}" alt="Logo" width="30" height="30"
          class="d-inline-block align-text-top me-2">QuizMaster</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.quiz') }}">Quiz</a>
          </li>
          

        </ul>
        {% if logged_in %}
        <a href="{{url_for('main.logout')}}" class="btn btn-danger m-2">logout</a>
        {% else %}
        <a href="{{url_for('main.login')}}" class="btn btn-primary m-2">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="main-section container-fluid py-5">
    <div class="container text-center">
      <h1 class="display-5 fw-bold my-2">Welcome {% if logged_in %}{{ current_user.full_name.split(" ")[0] }}{% else %}
        to Quiz Master {% endif %}</h1>
      <p class="lead fs-3">Challenge minds, test knowledge, and master quizzes — Quiz Master empowers brilliance!</p>
      <div class="d-inline-flex gap-2 mb-5">
        <a href="{{url_for('main.quiz')}}"
          class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill">Take a Quiz</a>
        {% if logged_in %}
        <a href="{{url_for('main.profile')}}" class="btn btn-outline-secondary btn-lg px-4 rounded-pill">Profile</a>
        {% else %}
        <a href="{{url_for('main.signup')}}" class="btn btn-outline-secondary btn-lg px-4 rounded-pill">Sign Up</a>
        {% endif %}
      </div>
    </div>

    <div class="container text-center">
      <h1 class="display-6 text-center my-5">Leaderboard</h1>
      {% if leaderboard | length >= 1 %} 
      <div class="row">
        <div class="col-lg-4 position-relative">
          <img src="{{ url_for('static', filename='images/img_avatar.png') }}" class="img-fluid" width="150"
            height="150" alt="">
          <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-success fs-6">
            1
          </span>
          <h2 class="fw-normal">{{leaderboard[0][0]}}</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first
            column.</p>
            <p><a class="btn btn-secondary" name="self-profile" value="false"
              href="{{url_for('main.profile', name=leaderboard[0][0])}}">View Profile</a></p>
            </div>
        {% endif %}
        {% if leaderboard | length >= 2 %} 
        <div class="col-lg-4 position-relative">
          <img src="{{ url_for('static', filename='images/img_avatar.png') }}" class="img-fluid" width="150"
            height="150" alt="">
          <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-success fs-6">
            2
          </span>
          <h2 class="fw-normal">{{leaderboard[1][0]}}</h2>
          <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.
          </p>
          <p><a class="btn btn-secondary" name="self-profile" value="false"
              href="{{url_for('main.profile',name= leaderboard[1][0])}}">View Profile</a></p>
        </div>
        {% endif %}
        {% if leaderboard | length >= 3 %} 
        <div class="col-lg-4 position-relative">
          <img src="{{ url_for('static', filename='images/img_avatar.png') }}" class="img-fluid" width="150"
            height="150" alt="">
          <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-success fs-6">
            3
          </span>
          <h2 class="fw-normal">{{leaderboard[2][0]}}</h2>
          <p>And lastly this, the third column of representative placeholder content.</p>
          <p><a class="btn btn-secondary" name="self-profile" value="false"
              href="{{url_for('main.profile', name=leaderboard[2][0])}}">View Profile</a></p>
        </div>
        {% endif %}
      </div>
    </div>

  </div>
  <footer class="d-flex justify-content-between align-items-center border-top py-3">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="{{ url_for('static', filename='images/logo-rmbg.png') }}" class="image-fluid ms-4" width="30"
          height="30" alt="">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 QuizMaster, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-twitter me-2"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram me-2"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-facebook me-4"></i></a></li>
    </ul>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>